<body>
    
    <header>
        <div class="f">
            <span style="color:orange">Gad</span>
            <span style="color: blue">Eon</span>
       </div>
       
    </header>
    
<div class="a">
    <div class="b">
        <img class="img-fluid" src="../assets/imges-comp/1.jfif" height="450px" width="450px">
    </div>
    <div class="c">
        <img class="img-fluid" src="../assets/imges-comp/2.jpg" height="450px" width="450px">
    </div>
    <div  class="d">
        <img class="img-fluid" src="../assets/imges-comp/5.avif" height="450px" width="450px">
    </div>
    
</div>
</body>
